bin/
.classpath
.metadata/

Project/doc
Project/.settings
Project/.project
Project/Project.iml
.idea/

UML/.vpprefdata/
UML/*.vpp~*
UML/*.vpp.working
UML/tmp/
UML/.lock

Personal/
.directory

group08/

.log
.aux
.nav
.toc
.synctex.gz
